<%- include('header.ejs') %>

<div class="options-container jetbrains-mono-lighter">
    <a href="login" class="interaction"><span class="variable-declaration">function</span> <span class="function">login()</span></a>
</div>

<div class="flex-container">
 <p>
     <span class="variable-declaration">let</span> clock = {<br>
     ​ ​ ​ ​ hour: <span class="integer" id="hour"></span>,<br>
     ​ ​ ​ ​ minute: <span class="integer" id="minute"></span>,<br>
     ​ ​ ​ ​ second: <span class="integer" id="second"></span>,<br>
     ​ ​ ​ ​ day: <span class="integer" id="day"></span>,<br>
     ​ ​ ​ ​ month: <span class="string">"<span id="month"></span>"</span>,<br>
     ​ ​ ​ ​ year: <span class="integer" id="year"></span>,<br>
     };
 </p>
</div>

<%- include('footer.ejs')%>