<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/jetbrains-mono.css">
</head>
<body>
<div class="flex-container jetbrains-mono-regular">
 <p>
     <span class="variable-declaration">let</span> clock = {<br>
     ​ ​ ​ ​ hour: <span class="integer" id="hour"></span> ,<br>
     ​ ​ ​ ​ minute: <span class="integer" id="minute"></span>,<br>
     ​ ​ ​ ​ second: <span class="integer" id="second"></span>,<br>
     ​ ​ ​ ​ period: <span class="string" id="period"></span>,<br>
     ​ ​ ​ ​ day: <span class="integer" id="day"></span>,<br>
     ​ ​ ​ ​ month: <span class="string" id="month"></span>,<br>
     ​ ​ ​ ​ year: <span class="integer" id="year"></span>,<br>
     };
 </p>
</div>
</body>
</html>