<%- include('header.ejs') %>
<div class="options-container">
    <a href="/" class="interaction">
        <span class="variable-declaration">function</span> <span class="function">home()</span>
    </a>
</div>

<div class="flex-container">
    <p>
        <span class="variable-declaration">let</span> username = <br>
        <span class="variable-declaration">let</span> password = <br>
    </p>
</div>

<%- include("footer.ejs") %>