body {
    background-color: #1e1f22;
    color: #bcbec4;
    font-size: 50px;
}

p {
    line-height: 55px;
}

.flex-container {
    display: flex;
    margin: 0;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.variable-declaration {
    color: #cf8e6d;
}

.integer {
    color: #2aacb8;
}

.string {
    color: #6aab73;
}

.function {
 color: #56a8f5;
}

.options-container {
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px 0px 10px 0px;
}

.interaction {
    font-size: 15px;
    text-decoration: none;
    color: #bcbec4;
}

label {
    float: left;
    margin-right: 20px;
}

input {
    background: transparent;
    color: #6aab73;
    border: none;
    font-size: inherit;
}

button {
    background: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

